/*全局样式*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Microsoft YaHei,cursive,Arial,SimSun;
}

/*header样式*/
header
{
    width: 100%;
    min-width: 1000px;
    height: 110px;
    background:url("img/nav_bg.gif");
    border-bottom: 3px solid #F4D74D;
}
.logo
{
    width:280px;
    height:80px;
    float: left;
    margin-left: 200px;
    margin-top: 15px;
}
header ul
{
    width: 200px;
    height:110px;
    float: left;
    margin-left: 460px;
    list-style: none;
}
header ul li,header ul li a
{
    width: 100px;
    height:110px;
    float: left;
}
.navFirst
{
    background-image: url("img/nav.png");
    background-position:0 -110px;
}
.navFirstBg
{
    background-image: url("img/nav.png");
    background-position:0 0;
}
.navSecond
{
    background-image: url("img/nav.png");
    background-position:-300px 0;
}
.navSecondBg
{
    background-image: url("img/nav.png");
    background-position:-300px -110px;
}

/*主体样式*/
/*头部轮播图*/
.bodyContainer{
    width: 100%;
}
.img-carousel{
    width:960px;
    height:560px;
    overflow: hidden;
    margin: 0 auto;
}
.img-carousel img{
    display: block;
    margin:0 auto;
}
/*标题动画*/
.aboutbg{
    width:100%;
    background: url("img/bg.jpg");
}
.about_me{
    width:1000px;
    height:400px;
    margin: 0 auto;
}
.summary,.details{
    width:500px;
    height:400px;
    float: left;
}
.about_title{
    width:260px;
    height:40px;
    margin: 0 auto;
    margin-top:50px;
    /*overflow: hidden;*/
}
.who .about_first{
    width:115px;
    height:40px;
    float: left;
    background: url("img/who.png") no-repeat 0 0;
}
/*TODO：css3动画，无法实现移出效果——目前使用JS调整*/
/*@-webkit-keyframes myfirst{*/
    /*from*/
    /*{background: url("img/who.png") no-repeat 0 0;}*/
    /*to*/
    /*{background: url("img/who.png") no-repeat 0 -43px;}*/
/*}*/
/*.who_am_i_1:hover{*/
    /*-webkit-animation: myfirst 1s;*/
    /*animation-fill-mode : forwards;*/
/*}*/
.who .about_second{
    width:135px;
    height:40px;
    float: left;
    background: url("img/who.png") no-repeat -125px -44px;
}
.what .about_first{
    width:125px;
    height:40px;
    float: left;
    background-image: url("img/what.png") ;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.what .about_second{
    width:135px;
    height:40px;
    float: left;
    background: url("img/what.png") no-repeat -125px -44px;
}
/*头像轮播图*/
.summary_photo{
    width:400px;
    height:150px;
    margin: 0 auto;
    margin-top:30px;
}
.summary_photo p{
    width:30px;
    height:100px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0;
}
.photo_back{
    width:30px;
    height:100px;
    background: url("img/switch_go.png") no-repeat 0 0;
    cursor: pointer;
}
.photo_go{
    width:30px;
    height:100px;
    background: url("img/switch_go.png") no-repeat -30px 0;
    cursor: pointer;
}
.photo_body{
    width: 150px;
    height:150px;
    display: inline-block;
    margin-right:85px;
    margin-left:85px;
    margin-bottom:5px;
    vertical-align: middle;
    overflow: hidden;
    position: relative;

}
.photo_body ul{
    width: 450px;
    height: 150px;
    list-style: none;
    position: absolute;
}
.photo_body ul li{
    width: 150px;
    height:150px;
    position: relative;
    float: left;
}
/*个人介绍*/
.summary_p{
    width:420px;
    height:100px;
    margin: 10px auto;
}
.details_first,.details_second,.details_third{
    width:280px;
    height:70px;
    margin:15px auto;
}
.details_title{
    line-height: 1.5;
    font-size: 18px;
    color:#333;
}
.details_body{
    line-height: 1.4;
    font-size: 14px;
    color:#999;
}
.details_first{
    margin-top:50px;
}
.details_first p span{
    width:53px;
    height: 68px;
    background: url("img/ido.png") no-repeat 0 -71px;
    float: left;
}
.details_first:hover p span{
    background: url("img/ido.png") no-repeat -54px -71px;
}
.details_first div{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
.details_second p span{
    width:53px;
    height: 68px;
    background: url("img/ido.png") no-repeat 0 0;
    float: left;
}
.details_second:hover p span{
    background: url("img/ido.png") no-repeat -54px 0;
}
.details_second div{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
.details_third p span{
    width:53px;
    height: 68px;
    background: url("img/ido.png") no-repeat 0 -140px;
    float: left;
}
.details_third:hover p span{
    background: url("img/ido.png") no-repeat -54px -140px;
}
.details_third div {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
.contact{
    width:100%;
    background: url("img/bg.jpg");
    margin-bottom: -20px;
}
.line{
    width:960px;
    height:102px;
    margin: 0 auto;
    background: url("img/line2.png");
}
.contact_me{
    width:960px;
    margin: 0 auto;
    height:100px;
}
.contact_photo{
    margin-left: 30px;
    float: left;
}
.contact_body{
    width:960px;
    height:100px;
}
.contact_title{
    margin-left: 20px;
    margin-top:15px;
    font-size: 30px;
    color:#000;
    line-height: 30px;
    float: left;

}
.contact_container{
    margin-top: 5px;
    margin-left: 50px;
    float: left;
}
.contact_mobile,.contact_email{
    font-size: 20px;
    color:#333;
    line-height: 24px;
    margin-left: 15px;
}
/*footer样式*/
footer{
    width:100%;
    height:170px;
    position: relative;
}
.footContainer{
    width:100%;
    height:163px;
    margin-top: 7px;
    background: url("img/foot_bg.png");
    position: absolute;
}
.two-dimensionCode{
    width:90px;
    height:90px;
    position: absolute;
    left:450px;
    top:40px;
}
.two-dimensionCode span a,.two-dimensionCode span a img{
    cursor: pointer;
    display: inline-block;
    width:90px;
    height:90px;
    position: absolute;
}
.footTitle{
    width:400px;
    height:75px;
    display: inline-block;
    position: absolute;
    left:570px;
    top:50px;
}
.footTitle p{
    font-size:14px;
    color:#fff;
    margin:3px;
}
.footTitle p span a{
    cursor: pointer;
    text-decoration: none;
    transition: color ease-out 0.5s;
}
.footTitle p span a:hover{
    color:skyblue;
}
